services:
  backend:
    build:
      context: ./backend
    ports:
      - "5001:5000"
    container_name: backend

  frontend:
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    container_name: frontend
